# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

*.exe

# VS files
Content/
Debug/
packages/
Scripts/
*.sdf
*.sln
*.v12.suo
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
packages.config
